/image
/openwrt/dl
/openwrt/.config
/openwrt/.config.old
/openwrt/bin
/openwrt/build_dir
/openwrt/staging_dir
/openwrt/tmp
/openwrt/logs
/openwrt/feeds
/openwrt/feeds.conf
/openwrt/files
/openwrt/.config.orig
/openwrt/defconfig.log
/openwrt/key-build*
